<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KND.LDST.Centralized.Python</title>

    <environment include="Development">

        <!-- Bootstrap -->
        <link href=" ~/Content/Panel/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href=" ~/Content/Panel/vendor/bootstrap-rtl/dist/css/bootstrap-rtl.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href=" ~/Content/Panel/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href=" ~/Content/Panel/vendor/nprogress/nprogress.css" rel="stylesheet">
        <!-- bootstrap-progressbar -->
        <link href=" ~/Content/Panel/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <!-- iCheck -->
        <link href=" ~/Content/Panel/vendor/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- bootstrap-daterangepicker -->
        <link href=" ~/Content/Panel/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

        <link href=" ~/Content/Panel/build/css/custom.css" rel="stylesheet" />
    </environment>
 
</head>


<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-database"></i> <span>سامانه مدیریت کیوسک</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/Panel/build/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>خوش آمدید,</span>
                            <h2>مرتضی کریمی</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">

                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-file-zip-o"></i> داده ممیزی <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="index.html">مشاهده داده ممیزی</a></li>
                                        <li><a href="index2.html">مدیریت سرورهای داده ممیزی</a></li>
                                        <li><a href="index3.html">مدیریت پشتیبانی از داده ممیزی</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-server"></i> کیوسک <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="form.html">مدیریت کیوسک</a></li>
                                        <li><a href="form_advanced.html">مدیریت تست و کنترل</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>
                                        <i class="fa fa-users"></i> مدیریت دسترسی <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu">
                                        <li><a href="general_elements.html">مدیریت کاربران</a></li>
                                        <li><a href="media_gallery.html">مدیریت گروه ها</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart"></i> گزارشات تحلیلی <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="tables.html">جداول</a></li>
                                        <li><a href="tables_dynamic.html">نمودارها</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="تنظیمات">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="تمام صفحه" onclick="toggleFullScreen();">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="قفل" class="lock_btn">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="خروج" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav hidden-print">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false">
                                    <img src="../build/images/img.jpg" alt="">مرتضی کریمی
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> نمایه</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>تنظیمات</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">کمک</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> خروج</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>

                                    <li>
                                        <a>
                                            <span class="image">
                                                <img src="../build/images/img.jpg"
                                                     alt="Profile Image" />
                                            </span>
                                            <span>
                                                <span>گیرنده رضا حسینی</span>
                                                <span class="time">3 دقیقه پیش</span>
                                            </span>
                                            <span class="message">
                                                فایل اجرایی جدید دریافت شده است..
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>مشاهده تمام اعلان ها</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- /header content -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()

            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer class="hidden-print">
                <div class="pull-left">
                    |شرکت دانش بنیان کهکشان دانا<a href="http://kahkeshandana.com/">kahkeshandana.com</a> | V.1.2.1
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <div id="lock_screen">
        <table>
            <tr>
                <td>
                    <div class="clock"></div>
                    <span class="unlock">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                            <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <environment include="Development">
        <!-- jQuery -->
        <script src=" ~/Content/Panel/vendor/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src=" ~/Content/Panel/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src=" ~/Content/Panel/vendor/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src=" ~/Content/Panel/vendor/nprogress/nprogress.js"></script>
        <!-- bootstrap-progressbar -->
        <script src=" ~/Content/Panel/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src=" ~/Content/Panel/vendor/iCheck/icheck.min.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src=" ~/Content/Panel/vendor/moment/min/moment.min.js"></script>
        <script src=" ~/Content/Panel/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- Chart.js -->
        <script src=" ~/Content/Panel/vendor/Chart.js/dist/Chart.min.js"></script>
        <!-- jQuery Sparklines -->
        <script src=" ~/Content/Panel/vendor/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
        <!-- gauge.js -->
        <script src=" ~/Content/Panel/vendor/gauge.js/dist/gauge.min.js"></script>
        <!-- Skycons -->
        <script src=" ~/Content/Panel/vendor/skycons/skycons.js"></script>
        <!-- Flot -->
        <script src=" ~/Content/Panel/vendor/Flot/jquery.flot.js"></script>
        <script src=" ~/Content/Panel/vendor/Flot/jquery.flot.pie.js"></script>
        <script src=" ~/Content/Panel/vendor/Flot/jquery.flot.time.js"></script>
        <script src=" ~/Content/Panel/vendor/Flot/jquery.flot.stack.js"></script>
        <script src=" ~/Content/Panel/vendor/Flot/jquery.flot.resize.js"></script>
        <!-- Flot plugins -->
        <script src=" ~/Content/Panel/vendor/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src=" ~/Content/Panel/vendor/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src=" ~/Content/Panel/vendor/flot.curvedlines/curvedLines.js"></script>
        <!-- DateJS -->
        <script src=" ~/Content/Panel/vendor/DateJS/build/production/date.min.js"></script>
        <!-- JQVMap -->
        <script src=" ~/Content/Panel/vendor/jqvmap/dist/jquery.vmap.js"></script>
        <script src=" ~/Content/Panel/vendor/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src=" ~/Content/Panel/vendor/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="~/Content/Panel/build/js/custom.min.js"></script>
        <script>
            $(function () {
                $(document).on('click', '#sping-icons', function (e) {
                    e.preventDefault();
                    if ($('.ready-spin').find('i.fa').hasClass('fa-spin')) {
                        $('.ready-spin').find('i.fa').removeClass('fa-spin');
                    } else {
                        $('.ready-spin').find('i.fa').addClass('fa-spin');
                    }
                })
            });
        </script>
    </environment>
  

    @RenderSection("Scripts", required: false)
</body>


</html>
